<ion-header>
  <ion-navbar color="light">
    <ion-title>
      Yeah, whatever, Boxy Page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-toolbar>
    <ion-buttons>
      <button ion-button>
        <ion-icon name="ionic" item-left></ion-icon>d
        </button>
      <button ion-button>
        <ion-icon name="ionic" item-left></ion-icon>d
        </button>
      <button ion-button>
        <ion-icon name="crop" item-left></ion-icon>d
        </button>
    </ion-buttons>
  </ion-toolbar>

  curBox: {{ mm?.curBox }} {{mm?.curBoxBadge}}, <br>
  curThg: {{ mm?.curThg }} {{mm?.curThgBadge}} <br>
  img: {{fs2 + box?.badge}}

  <ion-fab left middle>
    <button ion-fab (click)="addBox()" color="light">
     <ion-icon name="add"></ion-icon>
     </button><br>
    <span class="one-shot">New Box</span>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let box of mm?.justBoxes">

      <img [src]="fs2 + box.badge" alt="cat" class="my90x120"><br>

      <button ion-button (click)="openBox(box.signetValue)" *ngIf="mm?.curBox !== box.signetValue" >
        <ion-icon name="open"></ion-icon>
      </button>

      {{box.signetValue}} {{box.badge}}
    </ion-item>
  </ion-list>

</ion-content>