<ion-header>
  <ion-navbar color="primary">
    <ion-title>To-day</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-fab top right edge>
    <button ion-fab mini>
      <ion-icon name="add"></ion-icon>
      </button>
    <ion-fab-list>
      <button ion-fab (click)="test()" >
        <ion-icon name="beaker"></ion-icon>
        </button>
      <button ion-fab (click)="testAllKeys()" >
        <ion-icon name="logo-googleplus"></ion-icon>
        </button>
      <button ion-fab (click)="testJustBoxes()" >
        <ion-icon name="logo-youtube"></ion-icon>
        </button>
      <button ion-fab>
        <ion-icon name="logo-twitter"></ion-icon>
        </button>
      <button ion-fab color="danger" (click)="emptyDatabase()">
        <ion-icon name="trash"></ion-icon>
        </button>
    </ion-fab-list>
  </ion-fab>

  <p> <code>Ionic Storage driver: asyncStorage</code> </p>

  <p *ngIf="meta.showStart"> Make a new "box" </p>

  <p *ngIf="meta.glob && meta.glob.curBoxBadge">
    <img [src]="fs2+meta.glob.curBoxBadge" alt="Box Badge" style="max-width:180px; max-height:120px;">
    <br>
    <strong>The Open Box</strong>
  </p>

</ion-content>