<ion-header>
  <ion-navbar color="primary">
    <ion-title>To-day</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-fab top right edge>
    <button ion-fab mini>
      <ion-icon name="add"></ion-icon>
      </button>
    <ion-fab-list>
      <!--
      <button ion-fab (click)="writeJayson()" >
        <ion-icon name="paper"></ion-icon>
        </button> -->
      <button ion-fab (click)="test1()" ><span class="monofett">1</span>
        </button>
      <button ion-fab (click)="test2()" ><span class="monofett">2</span>
        </button>
      <!--<button ion-fab (click)="test3()" ><span class="monofett">3</span>
        </button>-->
      <button ion-fab color="danger" (click)="emptyDatabase()">
        <ion-icon name="trash"></ion-icon>
        </button>
    </ion-fab-list>
  </ion-fab>

  <p text-right> {{ message }} </p>

  <p *ngIf="showStart"> Make a new "box" </p>

  <p *ngIf="mm?.curBoxBadge">
    <img [src]="fs2 + mm?.curBoxBadge" alt="Box Badge" class="my120x180">
    <br>
    cur <strong>{{ mm?.curBox }}</strong> <br>
    tat <strong>{{ tattler }}</strong> <br>
  </p>


</ion-content>