<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      Camera
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-fab right middle>
    <button ion-fab (click)="addThing()" color="secondary">
     <ion-icon name="add"></ion-icon>
     </button><br>
    <span class="one-shot">Add Thing</span>
  </ion-fab>

  <ion-list>

    <ion-item *ngIf="showCurBox" text-right>Box:
      <img alt="Box Badge" [src]="fs2+meta.glob.curBoxBadge" class="my90x120">
    </ion-item>

    <ion-item *ngFor="let pic of thePix">
      <img alt="Thing Pic" [src]="pic" class="my90x120">
    </ion-item>

  </ion-list>

</ion-content>