// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.strike { text-decoration: line-through; }
.one-shot { color : color($colors, primary, base); }
.my90x120 { max-height:90px; max-width:120px; }
.my120x180 { max-height:120px; max-width:180px; }
.my180x240 { max-height:180px; max-width:240px; }
.toolbar-title-md { font-weight:900; }

@font-face {
  font-family: 'BenchNine';
  font-weight: 300;
  font-style: normal;
  src: url('../assets/fonts/BenchNine-300.eot');
  src: url('../assets/fonts/BenchNine-300.eot?#iefix') format('embedded-opentype'),
       local('BenchNine Light'),
       local('BenchNine-300'),
       url('../assets/fonts/BenchNine-300.woff2') format('woff2'),
       url('../assets/fonts/BenchNine-300.woff') format('woff'),
       url('../assets/fonts/BenchNine-300.ttf') format('truetype'),
       url('../assets/fonts/BenchNine-300.svg#BenchNine') format('svg');
}

@font-face {
  font-family: 'BenchNine';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/BenchNine-regular.eot');
  src: url('../assets/fonts/BenchNine-regular.eot?#iefix') format('embedded-opentype'),
       local('BenchNine Regular'),
       local('BenchNine-regular'),
       url('../assets/fonts/BenchNine-regular.woff2') format('woff2'),
       url('../assets/fonts/BenchNine-regular.woff') format('woff'),
       url('../assets/fonts/BenchNine-regular.ttf') format('truetype'),
       url('../assets/fonts/BenchNine-regular.svg#BenchNine') format('svg');
}

@font-face {
  font-family: 'BenchNine';
  font-weight: 700;
  font-style: normal;
  src: url('../assets/fonts/BenchNine-700.eot');
  src: url('../assets/fonts/BenchNine-700.eot?#iefix') format('embedded-opentype'),
       local('BenchNine Bold'),
       local('BenchNine-700'),
       url('../assets/fonts/BenchNine-700.woff2') format('woff2'),
       url('../assets/fonts/BenchNine-700.woff') format('woff'),
       url('../assets/fonts/BenchNine-700.ttf') format('truetype'),
       url('../assets/fonts/BenchNine-700.svg#BenchNine') format('svg');
}


