// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.strike { text-decoration: line-through; }
.one-shot { color : color($colors, primary, base); }
.my90x120 { max-height:90px; max-width:120px; }
.my120x180 { max-height:120px; max-width:180px; }
.my180x240 { max-height:180px; max-width:240px; }
.monofett { font-family: 'Monofett', monospace; }

@font-face {
    font-family: 'Monofett';
    font-style: normal;
    font-weight: 300;
    src: local('Monofett'), url("assets/fonts/Monofett.ttf") format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

// /* latin */
// @font-face {
//     font-family: 'Monofett';
//     font-style: normal;
//     font-weight: 300;
//     src: local('Monofett'), url("../assets/fonts/Monofett.ttf") format('woff2');
//     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;

